{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>班级列表</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">

	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>	
	<script>
		$theme = window.parent.$theme;
		$link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
	</script>
</head>	
<body>
	<script>
		$(function() {	
			//datagrid初始化 
		    $('#dataList').datagrid({ 
		        title:'班级列表', 
		        iconCls:'icon-more',//图标 
		        border: true, 
		        collapsible: false,//是否可折叠的 
		        fit: true,//自动大小 
		        method: "post",
		        url:"{% url 'mysrc_clazz_list' %}",//后台传递的json数据
		        idField:'id', 
		        singleSelect: true,//是否单选 
		        // pagination: true,//分页控件 
		        rownumbers: true,//行号 
		        sortName: 'id',
		        // sortOrder: 'DESC', 
		        remoteSort: false,
		        columns: [[  
					{field:'chk',checkbox: true,width:50,align:'center',halign:'center'},
	 		        {field:'id',title:'班级ID',width:100, sortable: true,align:'center',halign:'center'},    
	 		        {field:'name',title:'班级名称',width:200,align:'center',halign:'center'},
	 		        {field:'grade',title:'所属年级',width:100,,align:'center',halign:'center'},
		 		]], 
		        toolbar: "#toolbar"
		    }); 
		   
		    //设置工具类按钮
		    $("#add").click(function(){
		    	$("#addDialog").dialog("open");
		    });
		    //删除
		    $("#delete").click(function(){
		    	var selectRow = $("#dataList").datagrid("getSelected");
	        	if(selectRow == null){
	            	$.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
	            } else{
	            	var clazzid = selectRow.id;
	            	$.messager.confirm("消息提醒", "将删除与班级相关的所有数据(包括学生)，确认继续？", function(r){
	            		if(r){
	            			$.ajax({
								type: "post",
								url: "{% url 'mysrc_clazz_del' %}",
								data: {clazzid: clazzid},
								success: function(msg){
									if(msg['data'] == "success"){
										$.messager.alert("消息提醒","删除成功!","info");
										//刷新表格
										$("#dataList").datagrid("reload");
									} else{
										$.messager.alert("消息提醒","删除失败!","warning");
										return;
									}
								}
							});
	            		}
	            	});
	            }
		    });
		    
		  	//年级下拉框
		  	$("#gradeList").combobox({
		  		width: "150",
		  		height: "25",
		  		valueField: "clazz_name",
		  		textField: "clazz_name",
		  		multiple: false, //可多选
		  		editable: false, //不可编辑
		  		method: "post",
		  		// data:[{'name':1},{'name':2}],
		  		url: "{% url 'mysrc_clazz_xl' %}",
		  		onChange: function(newValue, oldValue){
		  			$('#dataList').datagrid("options").queryParams = {gradeid: newValue};
		  			$('#dataList').datagrid("reload");
		  		}
		  	});
		    
		  	//添加年级下拉框
		  	$("#add_gradeList").combobox({
		  		valueField: "clazz_name",
		  		textField: "clazz_name",
		  		multiple: false, //可多选
		  		editable: false, //不可编辑
		  		method: "post",
		  		url: "{% url 'mysrc_clazz_xl' %}",
		  		onLoadSuccess: function(){
			  		//默认选择第一条数据
					var data = $(this).combobox("getData");
					$(this).combobox("setValue", data[0].id);
		  		}
		  	});
		  	
		  	//设置添加班级窗口
		    $("#addDialog").dialog({
		    	title: "添加班级",
		    	width: 500,
		    	height: 400,
		    	iconCls: "icon-add",
		    	modal: true,
		    	collapsible: false,
		    	minimizable: false,
		    	maximizable: false,
		    	draggable: true,
		    	closed: true,
		    	buttons: [
		    		{
						text:'添加',
						plain: true,
						iconCls:'icon-add',
						handler:function(){
							var validate = $("#addForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");
								return;
							} else{
								var gradeid = $("#add_gradeList").combobox("getValue");
								$.ajax({
									type: "post",
									url: "{% url 'mysrc_clazz_ajax_submit' %}",
									data: $("#addForm").serialize(),
									success: function(msg){
										if(msg['data'] == "success"){
											$.messager.alert("消息提醒","添加成功!","info");
											//关闭窗口
											$("#addDialog").dialog("close");
											//清空原表格数据
											$("#add_name").textbox('setValue', "");
											
											//重新刷新页面数据
								  			$('#gradeList').combobox("setValue", gradeid);
								  			$('#dataList').datagrid("reload");
											
										} else if(msg['data'] == "false"){
											$.messager.alert("消息提醒","班级id重复，添加失败!","warning");
											return;
										}else{
											$.messager.alert("消息提醒","班级名称和年级名称不符，添加失败!","warning");
											return;
										}
									}
								});
							}
						}
					},
					{
						text:'重置',
						plain: true,
						iconCls:'icon-reload',
						handler:function(){
							$("#add_name").textbox('setValue', "");
							//重新加载年级
							$("#add_gradeList").combobox("reload");
						}
					},
				]
		    });
		  	
		});
	</script>
	<!-- 数据列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0"> 
	</table> 
	
	<!-- 工具栏 -->
	<div id="toolbar">
		<div style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
			<div style="float: left;" class="datagrid-btn-separator"></div>
		<div style="float: left; margin-right: 10px;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a></div>
		
		<div style="margin: 0 10px 0 10px">年级：<input id="gradeList" class="easyui-textbox" name="grade" /></div>
	</div>
	
	<!-- 添加窗口 -->
	<div id="addDialog" style="padding: 10px">  
    	<form id="addForm" method="post">
	    	<table cellpadding="8">
	    		<tr>
	    			<td>班级ID:</td>
	    			<td><input id="add_name_id" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="add_id"  data-options="required:true, missingMessage:'不能为空'" /></td>
	    		</tr>
	    		<tr>
	    			<td>班级名称:</td>
	    			<td><input id="add_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name"  data-options="required:true, missingMessage:'不能为空'" /></td>
	    		</tr>
<!-- 	    		<tr>
	    			<td>所属年级:</td>
	    			<td><input id="add_gradeList" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="gradeid"  validType="repeat_clazz['#add_gradeList']" data-options="required:true, missingMessage:'不能为空'" /></td>
	    		</tr> -->
	    		<tr>
	    			<td>所属年级:</td>
	    			<td><select id="add_gradeList" style="width: 200px; height: 30px;" name="gradeid" ></select></td>
	    		</tr>
	    	</table>
	    </form>
	</div>
	
</body>
</html>