{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>年级列表</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">	
	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>	
	<script>
		$theme = window.parent.$theme;
		$link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
	</script>
</head>
<body>
	<script>
		$(function() {	
			//datagrid初始化 
		    $('#dataList').datagrid({ 
		        title:'年级列表', 
		        iconCls:'icon-more',//图标 
		        border: true, 
		        collapsible: false,//是否可折叠的 
		        fit: true,//自动大小 
		        method: "post",
		        url:"{% url 'mysrc_grade_list' %}",
		        idField:'id', 
		        singleSelect: true,//是否单选 
		        pagination: false,//分页控件 
		        rownumbers: true,//行号 
		        sortName:'id',
		        // sortOrder:'DESC', 
		        remoteSort: false,
		        columns: [[
					{field:'chk',checkbox: true,width:50},
	 		        {field:'id',title:'ID',width:50, sortable: true,align:'center',halign:'center'},    
	 		        {field:'name',title:'年级名称',width:200,align:'center',halign:'center'},

		 		]], 
		        toolbar: "#toolbar"
		    }); 
		   
		    //设置工具类按钮
		    $("#add").click(function(){
		    	$("#addDialog").dialog("open");
		    });
		    //删除
		    $("#delete").click(function(){
		    	var selectRow = $("#dataList").datagrid("getSelected");
	        	if(selectRow == null){
	            	$.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
	            } else{
	            	var gradeid = selectRow.id;
	            	$.messager.confirm("消息提醒", "将删除与年级相关的所有数据(包括班级,学生)，确认继续？", function(r){
	            		if(r){            			
	            			$.ajax({
								type: "post",
								url: "/ksajdfoiwekaj/njsc_durl/",
								data: {gradeid: gradeid},
								success: function(msg){
									if(msg['data'] == "success"){
										$.messager.alert("消息提醒","删除成功!","info");
										//刷新表格
										$("#dataList").datagrid("reload");
									} else{
										$.messager.alert("消息提醒","删除失败!","warning");
										return;
									}
								}
							});
	            		}
	            	});
	            }
		    });
		   
		  	//设置添加学生窗口
		    $("#addDialog").dialog({
		    	title: "添加年级",
		    	width: 500,
		    	height: 400,
		    	iconCls: "icon-add",
		    	modal: true,
		    	collapsible: false,
		    	minimizable: false,
		    	maximizable: false,
		    	draggable: true,
		    	closed: true,
		    	buttons: [
		    		{
						text:'添加',
						plain: true,
						iconCls:'icon-world-add',
						handler:function(){
							var validate = $("#addForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");
								return;
							} else{
								data_add_id = $('#add_courseList').val();
								data_add_name = $('#add_name').val();
								$.ajax({
									type: "post",
									url: "/ksajdfoiwekaj/ajax_submit/",
									dataType:'json',
									data: {'vtm_id':data_add_id,'vtm_name':data_add_name,},
									success: function(msg){
										if(msg['data'] == "success"){
											$.messager.alert("消息提醒","添加成功!","info");
											//关闭窗口
											$("#addDialog").dialog("close");
											//清空原表格数据
											$("#add_name").textbox('setValue', "");
								  			// $("#add_courseList").combobox("clear");
											
											//重新刷新页面数据
								  			$("#dataList").datagrid("reload");
										}else{
											$.messager.alert("消息提醒","年级id重复，添加失败!","warning");
											return;
										}
									}
								});
							}
						}
					},
					{
						text:'重置',
						plain: true,
						iconCls:'icon-world-reset',
						handler:function(){
							$("#add_name").textbox('setValue', "");
							$("#add_courseList").textbox('setValue', "");
							// $("#add_courseList").combobox("clear");
						}
					},
				]
		    });
		});
	</script>	
	<!-- 数据列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0"> 	    
	</table> 
	<!-- 工具栏 -->
	<div id="toolbar">
		<div style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
			<div style="float: left;" class="datagrid-btn-separator"></div>
		<div><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a></div>
	</div>
	
	<!-- 添加数据窗口 -->
	<div id="addDialog" style="padding: 10px">  
    	<form id="addForm" method="post">
	    	<table cellpadding="8" >
	    		<tr>
	    			<td>年级ID:</td>
	    			<td><input id="add_courseList" style="width: 200px; height: 30px;" class="easyui-textbox" name="clazzid" data-options="required:true, missingMessage:'ID不能为空'" ></input></td>
	    		</tr>
	    		<tr>
	    			<td>年级名称:</td>
	    			<td><input id="add_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'名称不能为空'" /></td>
	    			<!-- validType:'repeat_grade', -->
	    		</tr>
	    	</table>
	    </form>
	</div>

</body>
</html>