{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">

	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>
	<script>
    $theme = window.parent.$theme;
    $link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
  </script>
	
</head>
<body>
	<script type="text/javascript">
		$(function() {				
			//修改密码窗口
		    $("#passwordDialog").dialog({
		    	title: "修改密码",
		    	width: 500,
		    	height: 300,
		    	iconCls: "icon-add",
		    	modal: true,
		    	collapsible: false,
		    	minimizable: false,
		    	maximizable: false,
		    	draggable: true,
		    	closed: true,
		    	buttons: [
		  	    		{
		  					text:'提交',
		  					iconCls:'icon-user_add',
		  					handler:function(){
		  						var validate = $("#editPassword").form("validate");
		  						if(!validate){
		  							$.messager.alert("消息提醒","请检查你输入的数据!","warning");
		  							return;
		  						} else if($('#old_password').val()===$('#new_password').val()){
										$.messager.alert("消息提醒","原密码与新密码相同!","warning");
										$("#new_password").textbox('setValue', "");
										$("#re_password").textbox('setValue', "");
								}else{
		  							var oldpwd = $('#old_password').val();
									var newpwd = $('#new_password').val();
									var user_id = window.parent.user_id; 
		  							$.ajax({
		  								type: "post",
		  								url: "{% url 'teacher_password' %}",
		  								// data: $("#editPassword").serialize(),
		  								data:{'oldpwd':oldpwd,'newpwd':newpwd,'user_id':user_id},
		  								success: function(msg){
		  									if(msg['data'] == "success"){
		  										$.messager.alert("消息提醒","修改成功，将重新登录","info")
		  										setTimeout(function(){
		  											top.location.href = "{% url 'login' %}";
		  										}, 1000);
		  									}else{$.messager.alert("消息提醒","修改失败，原密码错误!","warning");
														return;
												}
		  								}
		  							});
		  						}
		  					}
		  				},
		  				{
		  					text:'重置',
		  					iconCls:'icon-reload',
		  					handler:function(){
		  						//清空表单
		  						$("#old_password").textbox('setValue', "");
		  						$("#new_password").textbox('setValue', "");
		  						$("#re_password").textbox('setValue', "");
		  					}
		  				}
		  			],
		    })
			
			//设置编辑学生窗口
		    $("#editDialog").dialog({
		    	title: "修改密码",
		    	width: 500,
		    	height: 400,
		    	fit: true,
		    	modal: false,
		    	noheader: true,
		    	collapsible: false,
		    	minimizable: false,
		    	maximizable: false,
		    	draggable: true,
		    	closed: false,
		    	toolbar: [
		    		{
						text:'提交',
						plain: true,
						iconCls:'icon-user_add',
						handler:function(){
							var validate = $("#editForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");
								return;
							} else{
								// alert($("#editForm").serialize())
								$.ajax({
									type: "post",
									url: "{% url 'updata_teacher' %}",
									data: $("#editForm").serialize(),
									success: function(msg){
										if(msg['data'] == "True"){
											$.messager.alert("消息提醒","个人信息更新成功,刷新页面更新个人信息!","info");
										} else{
											$.messager.alert("消息提醒","个人信息更新失败!","warning");
											return;
										}
									}
								});
							}
						}
					},'-',
					{
						text:'重置',
						plain: true,
						iconCls:'icon-reload',
						handler:function(){
							//清空表单
							$("#edit_name").textbox('setValue', "");
							$("#edit_sex").textbox('setValue', "男");
							$("#edit_phone").textbox('setValue', "");
							$("#edit_qq").textbox('setValue', "");
						}
					},'-',
					{
						text:'修改密码',
						plain: true,
						iconCls:'icon-password',
						handler:function(){
							$("#passwordDialog").dialog("open");
						}
					}
				],
				
		    });
			
			$("#uploadBtn").click(function(){
				$("#uploadForm").submit();
				setTimeout(function(){
					var message =  $(window.frames["photo_target"].document).find("#message").text();
					$.messager.alert("消息提醒",message,"info");
					
					$("#user_photo").attr("src", "PhotoServlet?method=GetPhoto&t="+new Date().getTime());
				}, 1500)
			});
		})
	</script>
	
	<!-- 修改学生窗口 -->
	<div id="editDialog" style="padding: 20px">		 
	 	<div style="width: 300px; height: 400px;float:right; margin: 20px 120px 0 0;">
	    	<img id="user_photo" alt="照片" width='160px' style="margin-bottom: 30px;display: block;max-width: 250px; max-height: 300px;" title="照片" src="{% static 'images/1.jpg' %}" />
<!-- 	    	<form id="uploadForm" method="post" enctype="multipart/form-data" action="PhotoServlet?method=SetPhoto" target="photo_target">
	    		
		    	<input class="easyui-filebox" name="photo" data-options="prompt:'选择照片'" style="width:200px;">
		    	<input id="uploadBtn" class="easyui-linkbutton" style="width: 50px; height: 24px;" type="button" value="上传"/> 
		    </form> -->
	 	</div>   
    	<form id="editForm">
	    	<table cellpadding="8" >
	    		<tr>
	    			<td>工号:</td>
	    			<td>
	    				<input id="edit_number" value="" data-options="readonly: true" class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="tea_number" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>姓名:</td>
	    			<td><input id="edit_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'请填写姓名'" /></td>
	    		</tr>
	    		<tr>
	    			<td>性别:</td>
	    			<td><select id="edit_sex" class="easyui-combobox" data-options="editable: false, panelHeight: 50, width: 60, height: 30" name="gender"><option selected value="男">男</option><option value="女">女</option></select></td>
	    		</tr>
	    		<tr>
	    			<td>出生<br/>日期:</td>
	    			<td><input id="add_time" style="width: 200px; height: 30px;" class="easyui-datebox" type="text" name="data_birth" data-options="required:true, missingMessage:'请选择日期', editable:false" /></td>
	    		</tr>
	    		<tr>
	    			<td>电话:</td>
	    			<td><input id="edit_phone"  style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="phone" validType="mobile" /></td>
	    		</tr>
	    		<tr>
	    			<td>QQ:</td>
	    			<td><input id="edit_qq"  style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="qq" validType="number"  /></td>
	    		</tr>
	    	</table>
	    </form>
	</div>
  
	<!-- 修改密码窗口 -->
	<div id="passwordDialog" style="padding: 20px">
    	<form id="editPassword">
	    	<table cellpadding="8" >
	    		<tr>
	    			<td>原密码:</td>
	    			<td>
	    				<input id="old_password" style ="width: 200px; height: 30px;" class="easyui-textbox" type="password" name='oldpwd'  data-options="required:true, missingMessage:'请输入原密码'" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>新密码:</td>
	    			<td>	    				
	    				<input id="new_password" style="width: 200px; height: 30px;" class="easyui-textbox" type="password" validType="password" name="password" data-options="required:true, missingMessage:'请输入新密码'" />
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>新密码:</td>
	    			<td><input id="re_password" style="width: 200px; height: 30px;" class="easyui-textbox" type="password" validType="equals['#new_password']"  data-options="required:true, missingMessage:'再次输入密码'" /></td>
	    		</tr>
	    	</table>
	    </form>
	</div>
	
	<!-- 提交表单处理iframe框架 -->
	<!-- <iframe id="photo_target" name="photo_target"></iframe>     -->
	<script>
		var user_id = window.parent.user_id;
		var name = window.parent.name;
		var gender = window.parent.gender;
		var data_birth = window.parent.data_birth;
		var major_number = window.parent.major_number;
		var phone = window.parent.phone;
		var QQ = window.parent.QQ;

		var $edit_number = $('#edit_number');
		var $edit_name = $('#edit_name');
		var $edit_phone = $("#edit_phone");
		var $edit_qq = $("#edit_qq");
		var $edit_sex = $("#edit_sex");
		var $add_time = $('#add_time');

		$edit_number.attr('value',user_id);
		$edit_name.attr('value',name);
		$edit_sex.attr('value',gender)
		$edit_phone.attr('value',phone);
		$edit_qq.attr('value',QQ);
		$add_time.attr('value',data_birth);
	</script>
</body>
</html>