{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>教师列表</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" id="link_tk">
	<link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">
	<script src="{% static 'easyui/js/jquery.min.js' %}"></script>
	<script src="{% static 'easyui/js/jquery.easyui.min.js' %}"></script>
	<script src="{% static 'easyui/js/validateExtends.js' %}"></script>
	<script>
		$theme = window.parent.$theme;
		$link_theme= $("#link_tk");
        $link_theme.attr('href','/static/easyui/themes/'+$theme.val()+'/easyui.css');
        $theme.click(function(){
            $link_theme.attr('href','/static/easyui/themes/'+$(this).val()+'/easyui.css');
        })
	</script>

</head>
<body>
	<script type="text/javascript">
		$(function() {
			var table;
			//datagrid初始化 
		    $('#dataList').datagrid({ 
		        title:'教师列表', 
		        iconCls:'icon-more',//图标 
		        border: true, 
		        collapsible: false,//是否可折叠的
		        fit: true,//自动大小
		        method: "post",
		        url:"{% url 'teacher_jstxl' %}",
		        // data:[{'tea_number':'1234'}],
		        idField:'id',
		        singleSelect: true,//是否单选
		        // pagination: true,//分页控件
		        rownumbers: true,//行号
		        sortName:'id',
		        // sortOrder:'DESC',
		        remoteSort: true,
		        columns: [[
		        	{field:'chk',checkbox: true,width:50},
	 		        {field:'tea_number',title:'工号',width:110,align:'center',halign:'center'},    
	 		        {field:'name',title:'姓名',width:150,align:'center',halign:'center'},
	 		        {field:'gender',title:'性别',width:100,align:'center',halign:'center'},
	 		        {field:'data_birth',title:'出生年月',width:150,align:'center',halign:'center'},
	 		        {field:'phone',title:'电话',width:200,align:'center',halign:'center'},
	 		        {field:'qq',title:'QQ',width:200,align:'center',halign:'center'},
	 		        // {field:'major_number',title:'专业',width:150}
		 		]], 
		    }); 
		});
	</script>
	<!-- 数据列表 -->
	<table id="dataList" cellspacing="0" cellpadding="0"> 	    
	</table> 
	
	<!-- 查看窗口 -->
	<div id="editDialog" style="padding: 10px">
		<div style=" position: absolute; margin-left: 560px; width: 250px; height: 300px; border: 1px solid #EEF4FF">
	    	<img id="edit_photo" alt="照片" style="max-width: 200px; max-height: 400px;" title="照片" src="" />
	    </div>   
    	<form id="editForm" method="post">
	    	<table id="editTable" border=0 style="width:800px; table-layout:fixed;" cellpadding="6" >
	    		<tr>
	    			<td style="width:40px">工号:</td>
	    			<td colspan="3"><input id="edit_number" data-options="readonly: true" class="easyui-textbox" style="width: 200px; height: 30px;" type="text" name="number" /></td>
	    			<td style="width:80px"></td>
	    		</tr>
	    		<tr>
	    			<td>姓名:</td>
	    			<td><input id="edit_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="readonly: true" /></td>
	    		</tr>
	    		<tr>
	    			<td>性别:</td>
	    			<td><select id="edit_sex" class="easyui-combobox" data-options="editable: false, readonly:true, panelHeight: 50, width: 60, height: 30" name="sex"><option value="男">男</option><option value="女">女</option></select></td>
	    		</tr>
	    		<tr>
	    			<td>电话:</td>
	    			<td><input id="edit_phone" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="phone" data-options="readonly: true" /></td>
	    		</tr>
	    		<tr>
	    			<td>QQ:</td>
	    			<td colspan="4"><input id="edit_qq" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="qq"  data-options="readonly: true" /></td>
	    		</tr>
	    	</table>
	    </form>
	</div>	
</body>
</html>